giphy_client==1.0.0
moviepy==1.0.3
spotipy
pysndfx
pytube
youtube-search-python
google-api-python-client
pymongo
httplib2
python-dotenv
pandas
soundfile
pedalboard
scipy
tqdm
numpy
opencv-python-headless
google-api-python-client 
oauth2client
yt-dlp